{% extends "index.html" %} {% block content %}

<div class="section">
  <div class="block">
    <h1 class="title is-1">Events</h1>
  </div>
  {% for date, events in dates.items() %}
  <h1 class="subtitle">{{ date }}</h1>
  <div class="columns">
    {% for event in events %}
    <div class="column is-2">
      <article class="message is-info">
        <div class="message-header">
          <p>{{ event[0] }}</p>
        </div>
        <div class="message-body">
          {{ event[1] }} - {{ event[2] }}
        </div>
      </article>
    </div>
    {% endfor %}
  </div>
  {% endfor %}

  <div class="block">
    <h1 class="title is-1">
      Task History
      <button class="button is-primary claimtasks">Claim {{claimable_money}}G [Last Claimed: {{prev_claim}}]</button>
    </h1>
  </div>
  {% for date, tasks in tasksDates.items() %}
  <h1 class="subtitle">{{ date }}</h1>
  <div class="columns">
    {% for task in tasks %}
    <div class="column is-2">
      <article class="message is-info">
        <div class="message-header">
          <p>{{ task[0] }}</p>
        </div>
        <div class="message-body">
          {{ task[1]|safe}}
        </div>
      </article>
    </div>
    {% endfor %}
  </div>
  {% endfor %}

</div>
<script src="{{url_for('static', filename='calendar.js')}}"></script>
{% endblock %}
