<div class="modal tutorial">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Help</p>
      <button class="modal-close" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="content">
        <h4 class="subtitle is-4">Usage</h4>
        <ul>
          <li>
              Tasks are added via <a href="https://calendar.google.com/calendar" target="_blank">Google Calendar</a>
          </li>
          <li>
              Only the 40 most recent tasks are displayed
          </li>
          <li>
              Click the "Claim Tasks" button to recieve rewards for all tasks completed on-time after the "Last Claimed" date
          </li>
        </ul>
        
        <hr>
        <h4 class="subtitle is-4">Claiming</h4>
        <ul>
          <li>
              Only tasks completed with 1 day of the due date will reward currency
          </li>
          <li>
              Repeating tasks must be claimed before their next instance,
              as the old one is deleted automatically
          </li>
          <li>
              Upon claiming rewards, additional tasks completed on the current day cannot be claimed
          </li>
        </ul>
        
        <hr>
        <h4 class="subtitle is-4">Setting Rewards</h4>
        <ul>
          <li>
              The default reward per task is 5
          </li>
          <li>
              Rewards can be set on a per Task List basis with vertical bar "|" and a positive whole number.
              <p>For example: <em>Important | 200 </em></p>
              will reward 200 for every task in the "Important" task list
          </li>
        </ul>
      </div>
      
    </section>
</div>