{% extends "index.html" %} {% block content %}
 
<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child box">
      <div class="section">
      
        <div class="block">
          <h1 class="title is-1">
            Task History
            <i class="fas fa-info-circle tutorial-button"></i>
          </h1>
          <button class="button is-primary claimtasks">Claim {{claimable_money}}G [Last Claimed: {{prev_claim}}]</button>
        </div>
        {% for date, tasks in tasks_dates.items() %}
        <h1 class="subtitle">{{ date }}</h1>
        <div class="columns is-multiline">
          {% for task in tasks %}
          <div class="column is-2">
            <article class="message is-info">
              <div class="message-header">
                <p>{{ task[0] }}</p>
              </div>
              <div class="message-body">
                {{ task[1]|safe}}
              </div>
            </article>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      
      </div>
    </div>
  </div>
  <div class="tile is-parent is-vertical">
    <div class="tile is-child box">
      {% include "inventory.html" %} 
    </div>
  </div>
</div>
{% include "calendar_tutorial.html" %} 
<script src="{{url_for('static', filename='calendar.js')}}"></script>
<script src="{{url_for('static', filename='inventory.js')}}"></script>
{% endblock %}
