<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Virtual Pet Inventory</title>
  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <section class = "section">
      <div class = "container">
        <h1 class="title">Inventory</h1>
        <div class = "items tile is-ancestor is-vertical"></div>
      </div>
    </section>

    <!-- <script src="{{url_for('static', filename='inventory.js')}}"></script> -->
    <script defer src="../js/inventory.js"></script>
    
  </body>
</html>
