{% extends "index.html" %}
{% block content %}


<div hidden>
  <div id="row" class="columns">
    <div id="item" class="column is-2">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title title is-4 is-centered">Item Title</p>
        </header>
        <div class="card-image">
          <figure class="image is-2by1">
            <img src="https://bulma.io/images/placeholders/640x320.png">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">Item description</div>
        </div>
        <footer class="card-footer is-centered">
          <button class="button is-primary card-footer-item">Use</button>
        </footer>
      </div>
    </div>
  </div>
</div>

<div class = "section">
  <h1 class="title is-1">Inventory</h1>
  <div class="column is-half">
    <textarea class="textarea has-fixed-size" placeholder="Search" rows="1"></textarea>
  </div>
  <div id="start"></div>
</div>


<script src="{{url_for('static', filename='inventory.js')}}"></script>
{% endblock %}
