{% block navbar %}

<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/calendar">
      <img src="/static/img/cat.png" />
    </a>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/calendar"> Home </a>

      <a class="navbar-item" href="/inv"> Inventory </a>

      <a class="navbar-item" href="/shop"> Shop </a>
      <div class="navbar-item currency-counter">
        <img src="/static/img/money_bag.png" />
        <div id="balance">{{balance}}</div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {% if person["is_logged_in"] %}
          <div class="navbar-item">Logged in as {{ person["name"] }}</div>
          {% else %}
          <a class="button is-primary" href="/signup">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light" href="/login"> Log in </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>
{% endblock %}
