{% extends "index.html" %}
{% block content %}
{% include "pet.html" %} 
<div class="section">
  <h1 class="title is-1">Shop</h1>
  <div class="column is-half">
    <textarea class="textarea has-fixed-size" placeholder="Search" rows="1"></textarea>
  </div>
  {% for row in range((items|length + 5) // 6) %}
  <div class="columns">
    {% for col, item in zip(range(6), items[6*row:6*row+6]) %}
    <div class="column is-2">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title title is-4 is-centered">{{ item["name"] }}</p>
        </header>
        <div class="card-image">
          <figure class="image">
            <img src="{{ item['image'] }}">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            {{ item["description"]}}
          </div>
        </div>
        <footer class="card-footer is-centered">
          {% if item["rebuyable"] or item["count"] == 0 %}
          <button id="{{ 6*row+col }}" class="button is-primary card-footer-item buy">
            Buy (<figure class="image is-32x32"><img src="static/img/money_bag.png"></figure>
              {{ item["price"] }}
              {% if item["rebuyable"] %}
              <div class="content">) (Owned: {{ item["count"] }}</div>
              {% endif %})
          </button>
          {% else %}
          <button id="{{ 6*row+col }}" class="button is-success card-footer-item">
            Owned
          </button>
          {% endif %}
        </footer>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>

<script type="text/javascript">
  // Allow list of items to be used in javascript file
  var items = {{ items|tojson }};
  var balance = {{ balance }};
</script>
<script src="../static/shop.js"></script>

{% endblock %}